<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="SitesGroup">
            <section name="LootFarm" type="System.Configuration.NameValueSectionHandler"/>
            <section name="SwapGG" type="System.Configuration.NameValueSectionHandler"/>
            <section name="Itrade" type="System.Configuration.NameValueSectionHandler"/>
            <section name="RustTm" type="System.Configuration.NameValueSectionHandler"/>
            <section name="CsTrade" type="System.Configuration.NameValueSectionHandler"/>
            <section name="TradeIt" type="System.Configuration.NameValueSectionHandler"/>
        </sectionGroup>
    </configSections>
    
    <SitesGroup>
        <LootFarm>
            <add key="Commission" value="5" />
            <add key="Discount" value="0" />
        </LootFarm>
        <SwapGG>
            <add key="Commission" value="8" />
            <add key="Discount" value="0" />
        </SwapGG>
        <Itrade>
            <add key="Commission" value="8" />
            <add key="Discount" value="2" />
        </Itrade>
        <RustTm>
            <add key="Commission" value="5" />
            <add key="Discount" value="0" />
        </RustTm>
        <CsTrade>
            <add key="Commission" value="5" />
            <add key="Discount" value="0" />
        </CsTrade>
        <TradeIt>
            <add key="Commission" value="10" />
            <add key="Discount" value="0" />
        </TradeIt>
    </SitesGroup>
    
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>